 
/* spacing ----------------------------------------------- */

h1, h2, h3 {
  letter-spacing: 1.2pt;
}

h1 { 
  font-weight: 700;
  font-size:   3rem;
}

h2 { 
  font-weight: 600;
  font-size:   2.5rem;
}

h3 { 
  font-weight: 500;
  font-size:   2rem;
}

.contents h2, .contents h3, .contents h4 {
	margin-bottom: 1.5rem;
	margin-top: 2rem;
}

.row {
  margin-top: 1.5em;
}

/* Navbar toggle button color ----------------------------------------------- */

.navbar-toggler-icon { 
  color: rgba(255, 255, 255, 1);
}

/* Previous/next buttons ----------------------------------------------- */

.previous {
  font-weight: 500;
  text-decoration: none!important;
  float: left;
  background-color: rgba(24, 188, 156, 1);
  color: rgba(255, 255, 255, 1);
}

.next {
  font-weight: 500;
  text-decoration: none!important;
  float: right;
  background-color: rgba(24, 188, 156, 1);
  color: rgba(255, 255, 255, 1);
}

/* Captions ----------------------------------------------- */

.caption {
  font-style: italic;
  font-size: 0.8rem;
  color: rgba(188, 134, 11, 1);
}
